body{
    margin: 0px;
}

.favorites {
    box-sizing: border-box;
    border: 1px solid rgba(0, 8, 7);
    padding: 30px 15px;
    margin-right: 20px;
}

.favorites__name {
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 8, 7, .5);
    margin-bottom: 24px;
}

.favorites__list {
    margin-bottom: 24px;
    font-size: 18px;
}

.favorite-list-li:not(:last-child){
    margin-bottom: 10px;
}

.favorite-list-li{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.favorite-list-li p{
    box-sizing: border-box;
    vertical-align: middle;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.favorites__save {
    border: none;
    background-color: #496DDB;
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
    margin-right: 100px;
}
.favorites__save:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.favorites__save:hover:not(:disabled) {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
}

/* #region MobileVersion */
@media screen and (max-width: 650px) {
    .favorites-container{
        margin-top: 30px;
        min-width: 335px;
    }
}

.delete-button{
    margin-right: 5px;
    background-color: #496DDB;
    border: none;
    height: 20px;
    width: 20px;
    min-width: 20px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

.delete-button:hover{
    background-color: #497CBB;
    cursor: pointer;
}