.favorites {
    box-sizing: border-box;
    border: 1px solid rgba(0, 8, 7);
    padding: 30px 20px;
}

.favorites__name {
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 8, 7, .5);
    margin-bottom: 24px;
}

.favorites__list {
    margin-bottom: 24px;
    font-size: 18px;
}

li:not(:last-child){
    margin-bottom: 10px;
}

.favorites__save {
    border: none;
    background-color: #496DDB;
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
    margin-right: 100px;
}

.favorites__save:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
}

/* #region MobileVersion */
@media screen and (max-width: 650px) {
    .favorites-container{
        margin-top: 30px;
        min-width: 300px;
    }
}

.delete-button{
    margin-left: 15px;
    background-color: #496DDB;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

.delete-button:hover{
    background-color: #497CBB;
    cursor: pointer;
}