.header {
    background: #496DDB;
    padding: 20px calc(50% - 500px) 10px;
    min-width: 425px;
}

.header__title {
    font-family: 'Luckiest Guy', cursive;
    color: #FFEEDB;
    font-size: 45px;
    margin-left: 40px;
}

@media screen and (max-width: 650px) {
    .header__title{
        margin-left: 28%;
    }
}
